/* Estilos generales */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(234, 235, 248);
}

/* Estilos para el slide con autor y enlaces */
.slide {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Fondo transparente */
    padding: 50px;
    /* Espaciado interno */
    /*border-radius: 10px;  Bordes redondeados */
    position: absolute;
    /* Posicionamiento absoluto */
    top: 50%;
    /* Colocar en la mitad superior de la página */
    left: 50%;
    /* Colocar en el centro horizontal de la página */
    transform: translate(-50%, -50%);
    /* Centrar la caja */
    display: flex;
    /* Usar flexbox para ajustar el contenido */
}

.slide .left-content {
    width: 50%;
    /* Ocupar el 50% del slide */
    padding-right: 20px;
    /* Espaciado derecho para separar del texto */
}

.slide h1 {
    text-align: center;
    /* Texto centrado */
    font-size: 30pt;
}

.txt-wrapper {
    margin-top: 250px;
    text-align: center;
    /* Texto centrado */
    width: 100%;
    /* Ocupar todo el ancho disponible */
}

.txt-wrapper ul {
    list-style: none;
    /* Eliminar viñetas */
    padding: 0;
    /* Eliminar espaciado interno */
}

.txt-wrapper ul li {
    text-align: center;
    /* Texto centrado */
}

.txt-wrapper ul li a {
    text-decoration: none;
    /* Sin subrayado */
    color: black;
    /* Color del texto */
    transition: color 0.3s ease;
    /* Transición suave */
}

.txt-wrapper ul li a:hover {
    color: #333;
    /* Color del texto al pasar el ratón */
}

/* Esto no creo que vaya ni de coña */
#scrollDown {
    transition: transform 0.5s ease-in-out;
}

#scrollDown.scrolled {
    transform: translateY(100%);
}

#scrollUp {
    transition: transform 0.5s ease-in-out;
}

#scrollUp.scrolled {
    transform: translateY(-100%);
}

/* Animación agitación */
span {
    color: white;
    font-size: 1rem;
    display: inline-block;
}

span.vertical-shake:hover {
    color: purple;
    animation: vertical-shaking 0.35s infinite;
}

@keyframes vertical-shaking {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media querys */
/* Media query para dispositivos más pequeños */
@media (max-width: 767px) {
    .slide {
        padding: 20px; /* Reducimos el relleno en dispositivos pequeños */
    }

    .slide .left-content {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
        padding-right: 0; /* Eliminamos el espaciado derecho */
        margin-bottom: 20px; /* Agregamos margen inferior para separar del texto */
    }

    .txt-wrapper {
        margin-top: 0; /* Eliminamos el margen superior */
        text-align: left; /* Alineamos el texto a la izquierda */
    }

    #scrollDown,
    #scrollUp {
        display: none; /* Ocultamos la animación de desplazamiento en dispositivos pequeños */
    }
}

/* Estilos para el nav */
/* Estilos para el nav */
nav {
    position: absolute;
    top: 10px;
    left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; /* Mostrar en línea horizontal */
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none; /* Eliminar subrayado al pasar el ratón */
}

