*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo {
    width: 200px;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.barras-menu {
    display: none;
}

.estilo-menu {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.estilo-menu a {
    display: block;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    color: black;
}

#menu-movil li:nth-child(-n+2) {
    border-right: 1px solid rgb(0, 0, 0);
}

#loading {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    display: none;
}
#containerpk article{
    width: 25%;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
#containerpk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* las imágenes de los bichos */
#containerpk article img{
    width: 90px;
    height: 90px;
}

/*Media querys*/
@media screen and (max-width: 376px) {
    .barras-menu {
        display: block
    }

    h1 {
        display: none;
        /*Oculta el h1*/
    }

    header {
        justify-content: space-around;
    }

    .estilo-menu {
        display: inline;
    }

    .menu-movil {
        display: none;
    }

    #menu-movil li:nth-child(-n+2) {
        border: none;
    }
    #containerpk article{
        width: 100%;
        border: 1px solid blue;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}