*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(214, 218, 255);
}
#logo {
    width: 200px;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.barras-menu {
    display: none;
}

.estilo-menu {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.estilo-menu a {
    display: block;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    color: black;
}

#menu-movil li {
    height: 35px; /* Ajusta la altura según sea necesario */
}

#menu-movil li:nth-child(-n+2) {
    border-right: 1.5px solid rgb(0, 0, 0);
}

#loading {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    display: none;
}
/* Artículo de los pokémones */
#containerpk article{
    width: 25%;
    border: 1px solid rgb(172, 148, 236);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background-color: white;
    text-align: center;
}
#containerpk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/* las imágenes de los bichos */
#containerpk article img{
    width: 90px;
    height: 90px;
}
/* Palante patrás botones */
.navegacion{
    text-align: right;
    margin-right: 15px;
}
#next{
    margin-left: 20px;
}
#next,#previous{
    cursor: pointer;
}
.fa-forward-step{
    margin: 5px;
}
.fa-backward-step{
    margin: 5px;
}

button {
    font-size: 14px; /* Tamaño de la letra */
    color: #fff; /* Color del texto */
    background-color: #7d53f3; /* Color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilos al pasar el mouse por encima */
button:hover {
    background-color: #4500b3; /* Cambia el color de fondo al pasar el mouse */
}


/*Media querys*/
@media screen and (max-width: 376px) {
    .barras-menu {
        display: block
    }

    h1 {
        display: none;
        /*Oculta el h1*/
    }

    header {
        justify-content: space-around;
    }

    .estilo-menu {
        display: inline;
    }

    .menu-movil {
        display: none;
    }

    #menu-movil li:nth-child(-n+2) {
        border: none;
    }
    #containerpk article{
        width: 100%;
        border: 1px solid blue;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.search-container{
    margin-top: 2rem;
    margin-left: 20rem;
}
/* Botón de búsqueda */
/* Estilos para el campo de entrada de búsqueda */
.search-container input[type="text"] {
    width: 300px; /* Ancho deseado del campo de entrada */
    padding: 8px; /* Ajuste de relleno (padding) */
    margin-right: 10px; /* Espacio a la derecha del campo de entrada */
    border: 1px solid #ccc; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
}

