/* Estilos generales */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(203, 203, 216);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.grid-item:hover {
    background-color: #9088b1;
}

/* Nav */

/* Estilos para el nav */
nav {
    position: absolute;
    top: 20px;
    left: 240px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; /* Mostrar en línea horizontal */
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none; /* Eliminar subrayado al pasar el ratón */
}
